<!DOCTYPE html>
<html lang="en">
<head>
  <title>Notemaster</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
  <div id="app">
    <h1> {{ title }}</h1>
    <div class="form">
      <input type="text" placeholder="Title" v-model="note.title" />
      <textarea placeholder="Content of note" v-model="note.text"></textarea>
    </div>
  </div>

  <!-- <div id="app">
      <counter :add-number="3"></counter>
      <change-text></change-text>
  </div> -->

  <script src="https://unpkg.com/vue"></script> <!--now: Vue.js v2.5.16-->
  <script src="js/app.js" type="text/javascript"></script>
</body>
