<!DOCTYPE html>
<html lang="en">
<head>
  <title>Notemaster</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
  <div id="app">
    <h1> {{ title }}</h1>

    <!-- Creating new notes -->
    <div class="form">
      <input type="text" placeholder="Title" v-model="note.newTitle" />
      <textarea placeholder="Content of note" v-model="note.newText"></textarea>

      <select v-model="note.background">Select color:
        <option value="white">White</option>
        <option value="green">Green</option>
        <option value="blue">Blue</option>
        <option value="orange">Orange</option>
        <option value="yellow">Yellow </option>
      </select>

      <select v-model="note.importance">Select importance:
        <option value="standard">Standard</option>
        <option value="important">Important</option>
      </select>

      <button @click="createNote">Create</button>
      <p v-show="error">Title is required</p>
    </div>

    <!-- Sorting notes -->
    <div>Sort notes by color:<br>
      <input type="radio" v-model="radioColor" value="all">all
      <input type="radio" v-model="radioColor" value="white">white
      <input type="radio" v-model="radioColor" value="green">green
      <input type="radio" v-model="radioColor" value="blue">blue
      <input type="radio" v-model="radioColor" value="orange">orange
      <input type="radio" v-model="radioColor" value="yellow">yellow
    </div>
    <div>Sort notes by importance:<br>
      <input type="radio" v-model="noteImportance" value="all">all
      <input type="radio" v-model="noteImportance" value="important">important
      <input type="radio" v-model="noteImportance" value="standard">standard
    </div>

    <!-- List of notes -->
    <ul class="note-list">
      <li v-for="(item, index) in notes"
          :style="{ 'background-color': item.background }"
          v-show="((item.background === radioColor) || (radioColor === 'all')) && ((item.importance === noteImportance) || (noteImportance === 'all'))"><!-- v-for -> index is needed to deleteNote(index) working-->
        <h3>{{ item.title }}</h3>
        <p style="color: gray;"> {{ item.date }} <span v-show="item.importance === 'important'">{{ item.importance }}!</span></p>
        <p> {{ item.text }} </p>
        <span @click="notes.splice(index, 1)">x</span>
      </li>
    </ul>
  </div>

  <script src="https://unpkg.com/vue"></script> <!--now: Vue.js v2.5.16-->
  <script src="js/app.js" type="text/javascript"></script>
</body>
